* {
    font-family: 'Poppins' , sans-serif;
}

body {
    background-image: url(img/background.png);
    background-size: 1280px 720px;
    background-repeat: no-repeat;
}

.container {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    background-color: transparent;
    list-style-type: none;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li .menu-item{
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 50px;
    transition: 0.2s;
}

li .menu-item:hover {
    background-color: rgb(11, 103, 223);
    border: 2px solid white;
    color: white;
}

.content{
    margin-top: 80px;
    margin-left: 30px;
}

.profile-pic {
    height: 400px;
    width: 400px;
    background-image: url(img/me.jpg);
    background-position: center;
    background-size: 100%;
    border-radius: 50%;
    float: left;
}

.introduce {
    margin-top: 60px;
    padding-left: 300px;
    font-size: 50px;
    font-weight: 700;
    float: left;
    margin-bottom: 10px;
}

.education {
    margin-top: 700px;
    margin-bottom: 100px;
}

.title-menu {
    text-align: center;
    font-size: 40px;
    color: rgb(11, 103, 223);
    font-weight: 700;
}

hr {
    border: 2px solid grey;
    width: 100px;
}

.card {
    height: 290px;
    width: 290px;
    list-style-type: none;
    margin-bottom: 0px;
    margin: 0;
    padding: 17px;
    overflow: hidden;
    background-color: rgb(11, 103, 223);
    border-radius: 20px 20px 20px 20px;
    border: 2px solid rgb(201, 201, 201);
    float: left;
    margin-left: 20px;
    margin-top: 50px;
}

.card:hover{
    background-color: rgb(30, 53, 83);
}

.year-box {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    background-color: rgb(9, 76, 163);
    border-radius: 20px;
    margin: 10px;
    font-weight: 500;
    margin-left: 50px;
    margin-right: 50px;
    color: white;
    text-align: center;
}

.card-img {
    height: 130px;
    width: 130px;
    margin-left: 80px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-image: url(img/school.png);
    background-size: 100%;
    background-position: center;
}

.text-card{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.portfolio {
    margin-top: 700px;
    margin-bottom: 100px;
}

.port-img{
    margin-left: 70px;
    border: 2px solid rgb(11, 103, 223);
    border-radius: 20px;
    margin-top: 200px;
    background-size: 100%;
    background-position: center;
    width: 400px;
    height: 300px;
    float: left;
}

.port-img{
    margin-left: 30px;
    border: 2px solid rgb(11, 103, 223);
    border-radius: 20px;
    margin-top: 40px;
    background-image: url(img/Sertif1.png);
    background-size: 100%;
    background-position: center;
    width: 400px;
    height: 300px;
    float: left;
}

.contact-me {
    margin-top: 350px;
    margin-bottom: 100px;
}

.socmed {
    height: 200px;
    width: 300px;
    list-style-type: none;
    margin-bottom: 10px;
    margin: 0;
    padding: 17px;
    overflow: hidden;
    float: left;
    margin-left: 200px;
    margin-top: 20px;
    float: left;
}

.socmed-info {
    margin-top: 20px;
    float: none;
}

.socmed-img {
    margin-left: 50px;
    margin-top: 20px;
    margin-right: 20px;
    background-position: center;
    background-size: 100%;
    width: 30px;
    height: 30px;
    float: left;
}

.socmed-data {
    margin-top: 0px;
    margin-left: 30px;
    font-weight: 600;
    color: rgb(11, 103, 223);
    width: 200px;
    float: left;
}


.message {
    height: 370px;
    width: 400px;
    list-style-type: none;
    margin-bottom: 10px;
    margin: 0;
    padding: 17px;
    overflow: hidden;
    border: none;
    float: left;
    margin-left: 200px;
    margin-top: 20px;
}

.message-box-name {
    border: 2px solid rgb(11, 103, 223);
    width: 370px;
    height: 40px;
    border-radius: 5px;
    background-color: white;
    margin-top: 50px;
    margin: 20px auto;
}

.message-data {
    font-size: 15px;
    margin-left: 20px;
    margin-top: 7px;
    color: grey;
    font-weight: 500;
}

.message-box-email {
    border: 2px solid rgb(11, 103, 223);
    width: 370px;
    height: 40px;
    border-radius: 5px;
    background-color: white;
    margin-top: 50px;
    margin: 20px auto;
}

.message-box-number {
    border: 2px solid rgb(11, 103, 223);
    width: 370px;
    height: 40px;
    border-radius: 5px;
    background-color: white;
    margin-top: 50px;
    margin: 20px auto;
}

.message-box-message {
    border: 2px solid rgb(11, 103, 223);
    width: 370px;
    height: 90px;
    border-radius: 5px;
    background-color: white;
    margin-top: 50px;
    margin: 20px auto;
}

.btn-message {
    background-color: rgb(11, 103, 223);
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-left: 20px;
}

.btn-message:hover {
    background-color: rgb(11, 90, 194);
}

.footer {
    margin-top: 80px;
    height: 100px;
    background-color: rgb(11, 103, 223);
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    float: left;
}

.text-footer {
    text-align: center;
    margin-top: 40px;
    color: white;

}
