#main {
    background-color: #f0f0f0;
    color: brown;
    font-family: georgia;
    font-size: 0.8em;
}
.body {
    background-color: #cacaca;
    color: red;
    font-family: georgia;
    font-size: 0.9em;
}

.div {
    color: black;
}